@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Manrope:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
.container{
   max-width: 1170px;
}
:root{
    --primary:#5956E8;
    --black:#181818;
    --white:#FFFFFF;
    --pera: #color:rgba(24, 24, 24, .7);
   
}
body{
    font-family: "Inter", sans-serif;
}
.title{
    text-align: center;
}
.title h2{
font-weight: 700;
font-size: 40px;
color: var(--black);
}
.title p{
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: var(--pera);
width: 542px;
margin: 0 auto;
margin-top: 20px;
}
nav{
    padding: 34px 0px;
}
nav ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
}
nav ul li a:hover{
    color: var(--primary);
}
.navBtn{
    padding: 13px 24px;
    border-radius: 10px;
}
/* <!-- place banner here start --> */
#banner{
background: var(--primary);
padding-top: 165px;
padding-bottom: 190px;
}
#banner .text_area h1{
font-weight: 700;
font-size: 65px;
line-height: 80px;
color: var(--white);
}
#banner .text_area p{
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: var(--white);
margin-top: 25px;
}
.bannerBtn{
font-weight: 500;
font-size: 18px;
color: var(--primary);
background: var(--white);
text-decoration: none;
padding: 13px 22px;
border-radius: 10px;
margin-top: 30px;
}
/* <!-- place banner here end --> */

/* <!-- place service part here start --> */
#service {
   margin-top: 83px;
}
.serviceItem{
padding: 63px 48px;
border-radius: 10px;
border: 1px solid #E3E3E3;
}
.serviceItem:hover{
    box-shadow: webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}
.serviceItem h6{
    font-weight: 700;
font-size: 25px;
color: var(--black);
margin-top: 30px;
}
.serviceItem p{
    font-weight: 400;
font-size: 16px;
line-height: 27px;
color: var(--pera);
margin-top: 20px;
width: 274px;
}
.service_main{
margin-top: 50px;
}
.servicerow{
    row-gap: 30px;
}       
/* <!-- place service part here end --> */

/* Our Work Portfolio start  */    

#protfolio{
    margin-top: 100px;
    margin-bottom: 100px;
}
.protfolio_item{
    position: relative;
    overflow: hidden;
}
.protfolio_item .overlay{
    width: 230px;
    height: 113px;
    border-radius: 10px;
    background: var(--primary);
    bottom: -100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    transition: .7s;
}
.protfolio_item .overlay h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--white);
    margin-top:25px ;
}
/* Our Work Portfolio ending */
.protfolio_item .overlay a{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
}
.icons{
    margin-left: 10px;
}
.protfolio_item:hover .overlay{
    bottom: 19px;
}
.protfolioitem{
    row-gap: 30px;
    margin-top: 50px;
}
/* Our Work Portfolio ending */

/* <!-- Our Expert Team Member  start--> */
.team_row{
margin-top: 50px;
margin-bottom: 142px;
}
.team_item{
    position: relative;
}
.team_item .overlay{
    height: 100%;
    width: 100%;
    background:linear-gradient(0deg,#5956E8,rgba(255, 255, 255,0),rgba(255, 255, 255,0));
    position: absolute;
    /* opacity: 0.7; */
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}
.team_item .overlay h3{
    line-height: 27px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}
.team_item .overlay h5{
    line-height: 27px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}


/* <!-- Our Expert Team Member  end--> */
/* =====We Care About Our Customer Experience Too start */
#customer .customer_item{
  
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.75);
   border-radius: 10px;
   padding: 48px;
   position: relative;

}
#customer .care_title h2{
    font-weight: 800;
    font-size: 40px;
    color: var(--black);
    width: 603px;
}
#customer .care_title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--pera);
    width: 542px;
    margin-top: 20px;
}
#customer ul{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
#customer ul li{
    list-style: none;
    display:inline-block;
    color: #FBBF25;
    margin-right: 8px;
   
}
#customer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--black);
    width: 274px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#customer .name{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--black);
    margin-top: 16px;
}
#customer h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #5D5D5D;

}
#customer .qoute{
    position: absolute;
    bottom: 24px;
    right: 30px;
}
/*==== We Care About Our Customer Experience Too end */
/* Our Letest News start  */ 
#latest{
    margin-top: 142px;
}
.row__item{
    margin-top: 50px;
}
.news__item__img{
   margin-bottom: 18px;
}
.news__item__user{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #5D5D5D;
}
.news__item__icon{
    margin-top: 5px;
    margin-right: 8px;
    color: #5D5D5D;
}
.news__wrapper{
    gap: 30px;
    margin-left: 25px;
}
.news__item__h2{
    font-weight: 600;
    font-size: 20px;
    width: 271px;
    color: #181818;
    margin-top: 10px;
    margin-left: 25px;
}
.news__item__p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #5D5D5D;
    width: 300px;
    margin-top: 15px;
    margin-left: 25px;
}
.news__item__a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 25px;
}
.news__item{
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    padding: 17px 19px 48px 17px;
}
/* Our Letest News ending */
footer{
    margin-top: 100px;
    background: rgba(89, 86, 232,.10);
    padding: 100px;
}
.footer__left__p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 300px;
    color: var(--black);
    margin-top: 15px;
}
.footer__icon{
    gap: 24px;
    margin-top: 31px;
}
.footer__icon_list{
    text-decoration: none;
}
.footer__facebook__icon{
    color: #337FFF;
    
}
.footer__twiter__icon{
    color: #33CCFF;
}
.footer__list__title{
    font-weight: 600;
    font-size: 20px;
    color: #181818;
  margin-bottom: 15px;
}
.footer__list{
    margin: 0;
    padding: 0;
}
.footer__list__listItem{
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    list-style: none;
    
}
.footer__list__link{
    text-decoration: none;
    color: #5D5D5D;
}